@page "/item-form"

@inject ItemService ItemService

<PageTitle>Item Form</PageTitle>

<h3>@(item.Id == null ? "Add Item" : "Edit Item")</h3>

<EditForm Model="@item" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="item.Name" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="item.Description" />
    </div>

    <button type="submit" class="btn btn-primary">@((item.Id == null ? "Add" : "Update") + " Item")</button>
</EditForm>

@code {
    private Item item = new Item();

    private async Task HandleValidSubmit()
    {
        if (item.Id == null)
        {
            await ItemService.AddItemAsync(item);
        }
        else
        {
            await ItemService.UpdateItemAsync(item);
        }

        item = new Item();
    }
}
